<div class="wrapper d-flex w-100">
  <div class="d-flex align-items-center text-white blockOne">
    <p class="mb-0">© 2024</p>
  </div>
  <div class="footerLinkSocial d-flex justify-content-center align-items-center">
    <a href="https://uk-ua.facebook.com/" target="_blank" class="d-flex h-30">
      <img src="./assets/footer/facebook.svg" width="30" height="30" alt="facebook" />
    </a>
    <a href="https://www.instagram.com/" target="_blank" class="d-flex h-30">
      <img src="./assets/footer/instagram.svg" width="30" height="30" alt="instagram" />
    </a>
    <a href="https://twitter.com/" target="_blank" class="d-flex h-30">
      <img src="./assets/footer/twitter.svg" width="30" height="30" alt="twitter" />
    </a>
  </div>
  <div class="aboutMe d-flex align-items-center justify-content-end h-30">
  </div>
</div>
